---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { posts } from "../../lib/data";

---

<Layout title="Blog">
  <h1 class="mb-4">Blog</h1>
  <div>
    {posts.map(post => (
      <Card 
        title={post.title}
        description={post.description}
        date={post.date}
        slug={post.slug}
      />
    ))}
  </div>
</Layout>