---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getGithubActivity } from '../lib/github';
import { posts } from '../lib/data';

const activityCards = await getGithubActivity();

const feed = [...posts, ...activityCards].sort((a, b) =>
  new Date(b.date).getTime() - new Date(a.date).getTime()
);
---

<Layout title="Atelier">
  <h1 class="mb-4">Atelier</h1>
  <p>Software engineer who likes to help. I build with Astro, TypeScript, and React.</p>
  <p>Currently learning French and German.</p>
<section class="mt-10">
  <h4>right now</h4>
  <div class="relative">
    <div class="max-h-[40vh] overflow-y-auto">
      {feed.map(item => (
        <Card {...item} />
      ))}
    </div>
    <div class="pointer-events-none absolute bottom-0 left-0 right-0 h-16 bg-gradient-to-t from-white to-transparent dark:from-[#000212]"/>
  </div>
</section>


</Layout>