---
import Link from "./Link.astro";
---
<footer>
    <div class="container flex justify-between items-center p-4">
    
    <p class="text-[1rem]">© {new Date().getFullYear()} Atelier</p>
    <div>
       <Link href={`https://github.com/${import.meta.env.GITHUB_USERNAME}`} label="GitHub" external />
    </div>
    </div>
</footer>